/* default settings (layout only, NOT for typographic details) */

a:link{
	text-decoration:none;
	color:#271d66;
}

a:visited{
	text-decoration:none;
	color:#271d66;
}

body{
	background-color:#fff;
	font-family: "Graphik";
	font-weight: light;
	background-image: url("../images/background.jpg");
	overflow-x:hidden;
}


/* default typography presets */


h1{
	font-family: "Inconsolata", "Helvetica", sans-serif;
	font-size: 4em;
}
h2{
	/*font-family:"Georgia", serif;*/
	font-size:3em;
}
h3{
	font-size:2em;
}
h4{
	font-size:1.5em;
}
h5{
	font-size:1em;
	font-weight: normal;
}
h6{
	font-size:0.5em;
}
p{

}

div{

}



/* custom modifications */
#page-content{
	width:100vw;
}

#sidebar{
	position:fixed;
	float:left;
	left:0px;
	width:20%;
	height:100vh;
	background-color: #bef0ff;
}

#wrapper{
	float:right;
	width:70%;
	max-width:900px;
	/*margin: 0 auto;*/
	/*background-color: blue;*/
	margin-top: 20px;
}

#wrapper article{
	position:relative;
	height: 100%;
	width: 70%;
	max-width: 600px;
	top:0%;
	font-size: 1.3em;
	line-height: 1.3em;
}

.button{
	display:block;
	float:left;
	position:relative;
	width: 99%;
	/*background-color: #cbffec;*/
	border-style: solid;
	border-color: #a7a7b7;
	border-width:2px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	text-align: left;
}

.button .label{
	position:relative;
	padding:0px;
	margin:0px;
	width: 100%;
	height:70px;
	color:#271d66;
}

.button .label .labelText{
	margin:0px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
}



/* responsive design */

@media

